<section class="bg-light">
  <div class="container py-4">
    <h2 class="text-center fw-bold">회원가입</h2>
    <form action="/auth/join_process" method="post" class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
          </span>
          <input type="text" class="form-control" id="userId" name="loginid" maxlength="10" placeholder="ID 4~10 Words">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-key-fill"></i>
          </span>
          <input type="password" class="form-control" id="password" name="password" maxlength="10" placeholder="PWD 4~10 Words">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-person-badge"></i>
          </span>
          <input type="text" class="form-control" id="name" name="name" maxlength="20" placeholder="NAME 3~20 Words">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-phone"></i>
          </span>
          <input type="text" class="form-control" id="tel" name="tel" placeholder="TEL 13 Words" maxlength="13">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-calendar3"></i>
          </span>
          <input type="text" class="form-control" id="birth" name="birth" placeholder="YYYYMMDD 8 Words" maxlength="8">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-house"></i>
          </span>
          <input type="text" class="form-control" id="address" name="address" placeholder="ADDRESS 50Words" maxlength="50">
        </div>

        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</section>