<div class="container">
    <h2 class="text-center fw-bold">회원가입</h2>
    <form action="/auth/join_process" method="post" class="g-3">
        <div class="col-4">
          <label for="userId" class="form-label">ID</label>
          <input type="text" class="form-control" id="userId" name="loginid">
        </div>
        <div class="col-6">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="col-12">
            <label for="name" class="form-label">Name</label>
            <input type="password" class="form-control" id="name" name="name">
        </div>
        <div class="col-12">
            <label for="tel" class="form-label">Tel</label>
            <input type="text" class="form-control" id="tel" name="tel" placeholder="000-0000-0000">
        </div>
        <div class="col-12">
            <label for="birth" class="form-label">birth</label>
            <input type="text" class="form-control" id="birth" name="birth" placeholder="YYYYMMDD">
        </div>
        <div class="col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="경기도 성남시">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>