<!-- 컴퓨터공학과 201935247 김현겸 -->
<% if (haveMerchandise){ %>
<form id="orderForm" method="post">

    <table class="table table-bordered">
        <tr>
            <td rowspan="7" style="width: 65%;">
                <img id="productImage" src="/images/wait.png" alt="상품 이미지" style="width: 30%;">
            </td>
        </tr>

        <tr>
            <td>
                <label for="merId">상품 선택:</label>
                <select id="merId" name="merId" onchange="updateProductInfo()">
                <% var i = 0;
                    while(i<list.length){ %>
                        <option value="<%=list[i].mer_id%>"><%=list[i].name%></option>
                <% i += 1 } %>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <p id="productName">상품명 :</p>
            </td>
        </tr>

        <tr>
            <td>
                <p id="productBrand">브랜드 :</p>
            </td>
        </tr>

        <tr>
            <td>
                <p id="productPrice">가격 : </p>
                <input type="hidden" name="price" id="productPriceInput">
            </td>
        </tr>

        <tr>
            <td>
                <label for="quantity">수량:</label>
                <input type="number" id="quantity" name="qty" min="1">
            </td>
        </tr>
        
        <tr>
            <td>
                <button type="submit" formaction = "/purchase/payment">결제</button>
                <button type="submit" formaction = "/purchase/cart">장바구니</button>
            </td>
        </tr>
    </table>
</form>
<% } else { %>
    <table>
        <tr>
            <td>
                상품 준비중
            </td>
        </tr>
    </table>
    <% } %>

<script>
async function updateProductInfo() {
    var selectedMerId = document.getElementById('merId').value;

    fetch(`/purchase/manage/merchandise/${selectedMerId}`)
    .then(function(response) {
      // 응답이 성공적인지 확인
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      // JSON으로 파싱된 응답 반환
      return response.json();
    })
    .then(function(res) {
      // 상품 업데이트
      document.getElementById('productImage').src = res[0].image;
      document.getElementById('productName').innerText = '상품명: ' + res[0].name;
      document.getElementById('productBrand').innerText = '브랜드: ' + res[0].brand;
      document.getElementById('productPrice').innerText = '가격: ' + res[0].price + ' 원';
      document.getElementById('quantity').max = res[0].stock;

      // 상품 가격 hidden 필드에 설정
      document.getElementById('productPriceInput').value = res[0].price;
    })
    .catch(function(error) {
      console.error('Error fetching product data:', error);
    });
}
</script>